/* CSS file used to style the pages about Cerian, its parent language, and the continent of Seralton.
Color palette: light blue/blue. */

:root {
    --color-bg: 230, 255, 255;
    --color-txt: 0, 0, 0;
    --color-glosstrans: 0, 0, 0;
    --color-headers: 0, 34, 102;
    --color-thickbdr: 26, 117, 255;
    --color-gradstart: 179, 209, 255;
    --color-gradend: 230, 255, 255;
    --color-shadow: 0, 34, 102;
    --color-fnotes-menu-bdr: 26, 117, 255;
    --color-fnotes-menu-fill: 153, 255, 255;
    --color-menuicon: 0, 34, 102;
    --color-listmarker: 71, 102, 133;
    --color-links: 0, 172, 230;
    --color-links-visited: 52, 146, 178;
    --color-linkhover: 204, 102, 0;
    --color-linkhover-bg: 255, 217, 179;
    --color-dropdown-links: 0, 0, 153;
    --color-dropdown-linkhover: 230, 242, 255;
    --color-dropdown-linkhover-bg: 0, 89, 179;
    --color-nav-hover-border: 0, 60, 179;
    --color-nav-hover-shadow: 0, 34, 102;
    --color-thbg: 77, 184, 255;
    --color-tableodd: 153, 255, 255;
}
