/* CSS file used to style the "divertissements" pages.
Color palette: b&w but mimicking old paper. */

:root {
    --color-bg: 20, 18, 16;
    --color-txt: 235, 230, 220;
    --color-glosstrans: 165, 140, 120;
    --color-headers: 245, 235, 220;
    --color-thickbdr: 120, 85, 70;
    --color-gradstart: 50, 45, 38;
    --color-gradend: 30, 28, 24;
    --color-shadow: 80, 60, 55;
    --color-fnotes-menu-bdr: 200, 180, 160;
    --color-fnotes-menu-fill: 40, 36, 30;
    --color-menuicon: 220, 210, 200;
    --color-listmarker: 130, 160, 190;
    --color-links: 165, 190, 160;
    --color-links-visited: 212, 224, 209;
    --color-linkhover: 125, 200, 200;
    --color-linkhover-bg: 90, 60, 20;
    --color-dropdown-links: 235, 230, 220;
    --color-dropdown-linkhover: 255, 255, 250;
    --color-dropdown-linkhover-bg: 60, 50, 40;
    --color-nav-hover-border: 200, 180, 160;
    --color-nav-hover-shadow: 40, 60, 110;
    --color-thbg: 55, 45, 30;
    --color-tableodd: 40, 35, 25;
}
