/* CSS file used to style the "divertissements" pages.
Color palette: b&w but mimicking old paper. */

:root {
    --color-bg: 251, 244, 223;
    --color-txt: 34, 28, 26;
    --color-glosstrans: 58, 48, 44;
    --color-headers: 34, 28, 26;
    --color-thickbdr: 65, 32, 32;
    --color-gradstart: 224, 201, 166;
    --color-gradend: 251, 244, 223;
    --color-shadow: 167, 147, 139;
    --color-fnotes-menu-bdr: 34, 28, 26;
    --color-fnotes-menu-fill: 222, 220, 211;
    --color-menuicon: 34, 28, 26;
    --color-listmarker: 71, 102, 133;
    --color-links: 141, 166, 131;
    --color-links-visited: 95, 118, 86;
    --color-linkhover: 82, 155, 156;
    --color-linkhover-bg: 225, 173, 109;
    --color-dropdown-links: 34, 28, 26;
    --color-dropdown-linkhover: 250, 255, 253;
    --color-dropdown-linkhover-bg: 58, 48, 44;
    --color-nav-hover-border: 34, 28, 26;
    --color-nav-hover-shadow: 0, 34, 102;
    --color-thbg: 234, 195, 146;
    --color-tableodd: 247, 232, 187;
}
