/* CSS file used to style the "divertissements" pages.
Color palette: b&w but mimicking old paper. */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
  font-family: Junicode;
  src: url(/conlangs/asset/JunicodeVF-Roman.woff2);
}

@font-face {
  font-family: JunicodeItalic;
  src: url(/conlangs/asset/JunicodeVF-Italic.woff2);
}

html {
    font-size: 18px;
}

body {
    background-color: #fbf4df;
    line-height: 1.4;
    font-family: "Junicode", serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: #221c1a;
    letter-spacing: 0.1111em;
    word-spacing: 0.3056em;
    font-size: 2.2223em;
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.subtitle {
    text-align: center;
    color: #221c1a;
    font-family: "JunicodeItalic", serif;
    font-weight: normal;
    font-size: 1.3333em;
    margin-top: 1%;
    margin-bottom: 2%;
}

/* sections */

h2 {
    color: #221c1a;
    font-size: 1.5556em;
    margin-left: 0.25rem;
    word-spacing: 0.3056em;
    letter-spacing: 0.0555em;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    color: #221c1a;
    font-size: 1.3333em;
    margin-left: 0.25rem;
    letter-spacing: 0.0555em;
    margin-bottom: 0;
    margin-top: 0.55rem;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4 {
    color: #221c1a;
    font-size: 1.1111em;
    margin-left: 0.25rem;
    margin-bottom: 0.7778rem;
    letter-spacing: 0.0555em;
    font-family: "Comfortaa", sans-serif;
    font-weight: 550;
    font-style: normal;
}

caption {
    color: #2d0707;
    font-size: 1.1111em;
    margin-left: 0.25rem;
    margin-bottom: 0.7778rem;
    letter-spacing: 0.0555em;
    font-family: "Comfortaa", sans-serif;
    font-weight: 550;
    font-style: normal;
}

blockquote {
    border-style: none none none solid;
    border-color: #412020;
    padding: 9px 30px 9px 18px;
    margin-left: 1.6667rem;
    margin-bottom: 0.35rem;
    /* background-color: rgba(229, 204, 255, 0.7); */
    background-image: linear-gradient(to right, #E0C9A6, #fbf4df);
}

.gloss {
    border-style: none none none solid;
    border-color: #412020;
    padding: 9px 30px 9px 18px;
    margin-left: 1.6667rem;
    margin-bottom: 0.35rem;
    /* background-color: rgba(229, 204, 255, 0.7); */
    background-image: linear-gradient(to right, #E0C9A6, #fbf4df);
}

.gloss b {
    font-size: 1.0556em;
}

/* general text */

p {
    text-align: justify;
    padding-right: 1%;
    text-indent: 0.6667em;
    margin-left: 0.25rem;
    color: #221c1a;
}

/* notes and references container */
.footnotes {
  font-size: 0.8055em;
  margin: 4px 10px 24px 10px;
  padding: 4px 10px;
  border-radius: 6px;
  border: 2px solid;
  overflow: auto;
  border-color: #221c1a;
}

.notes-head {
  border-radius: 6px;
  border: 2px solid;
  border-color: #221c1a;
  background-color: #fbf4df;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #221c1a;
  font-size: 1.1111em;
  margin-top: 0.35rem;
  padding-top: 2px;
  margin-bottom: 0.55rem;
  padding-bottom: 2px;
}

/* IPA */
span {
  font-size: 0.8889em;
}

.ipa {
    font-family:sans-serif;
}

/* lists */
ul {
  border-left: solid #412020;
  margin-left: 1.6667rem;
  background-image: linear-gradient(to right, #E0C9A6, #fbf4df);
  list-style-type: none;
  padding: 9px 30px 9px 18px;
  line-height: 1.6;
}
ul.nest {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 1.1111rem;
}
ul.in-text {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 2%;
}
ul.in-text li {
    border-left: solid #412020;
    list-style-type: none;
    padding: 0px 30px 0px 18px;
    margin-bottom: 0.45rem;
}

/* numbered lists */
ol {
  line-height: 1.6;
  margin-left: -0.55rem;
}
::marker {
  color: rgb(71, 102, 133);
  font-size: 18px;
  font-style: italic;
}
ol li {
    border-left: solid #412020;
    padding: 1px 30px 1px 18px;
    margin-bottom: 0.45rem;
    background-image: linear-gradient(to right, #E0C9A6, #fbf4df);
}
ol.nest {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 0.3333rem;
}
ol.nest li {
    border-left: none;
    background-image: none;
    margin-left: 0.1111rem;
    margin-bottom: 0.25rem;
}

/* unvisited and visited links */
a:link, a:visited {
  color: #8da683;
  text-decoration: none;
}

/* mouse over and selected links */
a:hover:not(:has(> img)), a:active:not(:has(> img)) {
  color: #529b9c;
  background-color: rgba(225, 173, 109, 0.4);
  border-radius: 4px;
}

img {
  border-radius: 4px;
}

/* all tables */
table {
  line-height: 1.8;
  border-collapse: collapse;
}

tr:nth-child(odd) {background-color: #f7e8bb;}

th {
    background-color: #eac392;
    padding: 5px 8px 5px 8px;
    border: 1px solid #675a55;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #eac392;
}

/* inline tables */
.inlinetable {
  margin-left: 2%;
  margin-left: 0.7778em;
  margin-bottom: 0.7778rem;
  max-width: 95%;
}

/* introduction tables */
.info-introduction {
  float: right;
  margin: 0 0 20px 20px;
}

.info-introduction th {
  text-align: left;
  font-size: 1.0556em;
}

/* footer */
footer {
  margin-bottom: -1%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  border-style: solid none none none;
  border-color: #412020;
  background-image: linear-gradient(to right, #E0C9A6, #fbf4df);
  font-family: "Comfortaa", sans-serif;
  font-weight: 350;
  font-size: 0.8889em;
  overflow: hidden;
}

/* menu */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(34, 28, 26, 0.9);
  border-radius: 10px;
  text-align: center;
  background-color: rgba(222, 220, 211, 0.9);
  margin: 14px 14px 14px 100px;
}

.menu {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7777rem;
  padding: 6px;
  text-indent: 0;
  text-align: center;
  color: #221c1a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(222, 220, 211, 0.9);
  border: 1px solid rgba(34, 28, 26, 0.9);
  /* min-width: 240px; */
  width: max(40%, 250px);
  bottom: 110%;
  right: 0%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  border-radius: 17px 45px 5px 45px;
  z-index: 1;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
  font-weight: 350;
  font-size: 0.8889rem;
  /* Permette lo scrolling se il menu è troppo alto */
  max-height: 86vh;  /* Il menu non supererà l'86% dello schermo */
  overflow-y: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the menu */
.dropdown-content a {
  color: #221c1a;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(58, 48, 44, 0.9);
  color: rgb(250, 255, 253);
  font-weight: bold;
}

/* Section navigation */
.navsection {
  text-align: center;
  margin: auto;
  font-family: "Comfortaa", sans-serif;
  display: block;
}

.navsection a {
  border: 1px solid rgba(34, 28, 26, 0.9);
  background-color: rgba(222, 220, 211, 0.3);
  padding: 8px 12px;
  margin-right: 0.7222rem;
  margin-bottom: 0.45rem;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
}

.navsection a:hover {
  border: 1px solid rgb(34, 28, 26);
  background-color: rgba(58, 48, 44, 0.9);
  color: rgb(230, 242, 255);
  padding: 8px 12px;
  margin-right: 0.7222rem;
  margin-bottom: 0.45rem;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 3px 6px rgb(0, 34, 102);
}

/* Backwards navigation */
.backwardsnav {
  float: right;
  margin-top: 1rem;
  margin-right: 1.6667rem;
  margin-bottom: 0;
  font-size: 0.7778rem;
  font-family: "Comfortaa", sans-serif;
}

.backwardsnav a {
  border: 1px solid rgba(34, 28, 26, 0.9);
  background-color: rgba(222, 220, 211, 0.3);
  padding: 5px 5px;
  margin-left: 0.8889rem;
  border-radius: 14px;
  overflow: hidden;
}

.backwardsnav a:hover {
  border: 1px solid rgb(34, 28, 26);
  background-color: rgba(58, 48, 44, 0.9);
  color: rgb(230, 242, 255);
  padding: 5px 5px;
  margin-left: 0.8889rem;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgb(222, 220, 211);
}

.container {
  display: flex;
  justify-content: space-between; /* Spinge gli elementi agli estremi */
  align-items: center;
  width: 100%; /* Assicura che occupi tutta la larghezza disponibile */
  height: auto; /* Assicura che non ci sia altezza fissa */
}

@media (max-width: 768px) {  /* Regole valide solo su mobile */
  .container {
    flex-direction: column; /* Dispone gli elementi uno sotto l'altro */
    align-items: flex-start; /* Mantiene il titolo allineato a sinistra */
    text-align: left;
  }

  .backwardsnav {
    display: flex;
    flex-direction: column; /* Mette i link uno sotto l'altro */
    align-items: flex-end;  /* Allinea a destra */
    width: 100%; /* Assicura che il menu non si restringa */
    margin-top: 0.55rem; /* Aggiunge spazio tra il titolo e il menu */
    margin-right: 10px; /* Riduce il margine per adattarsi */
  }

  .backwardsnav a {
    margin-left: 0; /* Rimuove il margine sinistro */
    margin-top: 0.2778rem; /* Distanza tra i link */
    padding: 8px 10px; /* Un po' più di padding per leggibilità */
    width: auto; /* Impedisce che i bottoni si comprimano */
  }
}

/* colori */
.colors {
  display: flex;
  flex-wrap: wrap; /* Per far andare a capo gli elementi se necessario */
  gap: 0.5556em; /* Distanza tra gli elementi */
  justify-content: center; /* Centra gli elementi orizzontalmente */
}

.color-item {
  display: flex;
  align-items: center; /* Allinea verticalmente */
  margin-left: 0.5556rem;
}
