/* CSS file to style the pages about Dundulanyä.
Color palette: lilac/violet */

:root {
    --color-bg: 51, 0, 51;
    --color-txt: 255, 230, 255;
    --color-glosstrans: 255, 230, 255;
    --color-headers: 217, 179, 255;
    --color-thickbdr: 140, 26, 255;
    --color-gradstart: 73, 4, 73;
    --color-gradend: 38, 13, 38;
    --color-shadow: 224, 102, 255;
    --color-fnotes-menu-bdr: 255, 153, 255;
    --color-fnotes-menu-fill: 77, 0, 102;
    --color-menuicon: 217, 179, 255;
    --color-listmarker: 255, 153, 255;
    --color-links: 217, 179, 255;
    --color-linkhover: 204, 255, 153;
    --color-linkhover-bg: 143, 0, 179;
    --color-dropdown-links: 236, 179, 255;
    --color-dropdown-linkhover: 153, 0, 153;
    --color-dropdown-linkhover-bg: 255, 153, 255;
    --color-nav-hover-border: 153, 0, 255;
    --color-nav-hover-shadow: 224, 102, 255;
    --color-thbg: 71, 0, 179;
    --color-tableodd: 96, 23, 207;
}
