/* CSS file to style the pages about Dundulanyä.
Color palette: lilac/violet */

:root {
    --color-bg: 25, 0, 38;
    --color-txt: 245, 230, 255;
    --color-glosstrans: 220, 160, 240;
    --color-headers: 200, 160, 255;
    --color-thickbdr: 192, 128, 255;
    --color-gradstart: 70, 0, 105;
    --color-gradend: 90, 30, 120;
    --color-shadow: 230, 150, 255;
    --color-fnotes-menu-bdr: 240, 180, 255;
    --color-fnotes-menu-fill: 90, 0, 115;
    --color-menuicon: 230, 150, 255;
    --color-listmarker: 200, 160, 255;
    --color-links: 230, 170, 255;
    --color-linkhover: 255, 180, 100;
    --color-linkhover-bg: 80, 0, 80;
    --color-dropdown-links: 240, 230, 255;
    --color-dropdown-linkhover: 255, 240, 255;
    --color-dropdown-linkhover-bg: 160, 60, 210;
    --color-nav-hover-border: 200, 100, 255;
    --color-nav-hover-shadow: 120, 40, 160;
    --color-thbg: 60, 0, 90;
    --color-tableodd: 40, 0, 70;
}
