/* CSS file to style the pages about Dundulanyä.
Color palette: lilac/violet */

:root {
    --color-bg: 242, 230, 255; /* pale lilac */
    --color-txt: 0, 0, 0; /* black */
    --color-glosstrans: 62, 0, 62;
    --color-headers: 64, 0, 128;
    --color-thickbdr: 153, 102, 255;
    --color-gradstart: 229, 204, 255;
    --color-gradend: 236, 229, 255;
    --color-shadow: 172, 0, 230;
    --color-fnotes-menu-bdr: 210, 77, 255;
    --color-fnotes-menu-fill: 236, 179, 255;
    --color-menuicon: 172, 0, 230;
    --color-listmarker: 175, 106, 175;
    --color-links: 184, 77, 255;
    --color-linkhover: 230, 115, 0;
    --color-linkhover-bg: 255, 204, 255;
    --color-dropdown-links: 56, 0, 77;
    --color-dropdown-linkhover: 248, 230, 255;
    --color-dropdown-linkhover-bg: 131, 0, 179;
    --color-nav-hover-border: 153, 0, 255;
    --color-nav-hover-shadow: 224, 179, 255;
    --color-thbg: 230, 179, 255;
    --color-tableodd: 241, 221, 255;
}
