/* CSS file used to style the homepage, meta and miscellaneous pages.
Color palette: earthy tones. */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
  font-family: Junicode;
  src: url(/conlangs/asset/JunicodeVF-Roman.woff2);
}

@font-face {
  font-family: JunicodeItalic;
  src: url(/conlangs/asset/JunicodeVF-Italic.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgba(251, 235, 230, 0.5);
    line-height: 1.4;
    font-family: "Junicode", serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: rgb(102, 0, 0);
    letter-spacing: 2px;
    word-spacing: 5.5px;
    font-size: 40px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h2 {
  font-size: 28px;
  color: rgb(102, 0, 0);
  margin-left: 4px;
  word-spacing: 2.5px;
  letter-spacing: 1px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3 {
    font-size: 24px;
    color: rgb(102, 0, 0);
    margin-left: 4px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-size: 20px;
    color: rgb(102, 0, 0);
    margin-left: 4px;
    margin-bottom: 14px;
    letter-spacing: 1px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 550;
    font-style: normal;
}

/* h5 is used only for subtitles */
h5 {
    text-align: center;
    color: rgb(102, 0, 0);
    font-family: "JunicodeItalic", serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 1%;
    margin-bottom: 2%;
}

hr {
    color: rgb(102, 0, 0);
}

p {
  text-indent: 12px;
  line-height: 1.5;
  text-align: justify;
  padding-right: 1%;
  color: rgb(77, 37, 0);
}

/* Code. So far only on the home page */
code {
  font-family: "Atkinson Hyperlegible Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

ul.in-text {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 2%;
}
ul.in-text li {
    border-left: solid rgb(204, 82, 0);
    list-style-type: none;
    padding: 0px 30px 0px 18px;
    margin-bottom: 8px;
}

.row {
  margin: auto;
  display: flex;  /* Usa Flexbox */
  flex-wrap: wrap; /* Permette il wrap se non c'è abbastanza spazio */
  justify-content: center; /* Allinea gli elementi al centro */
  align-content: flex-start;
  gap: 20px; /* Spazio tra gli elementi */
}

.langs {
  /* float: left;
  margin: 2px 15px 30px 15px; */
  padding: 4px 10px;
  height: 410px;
  min-width: 28%;
  max-width: 28%;
  border-radius: 6px;
  border: 2px solid;
  text-align: center;
  overflow: auto;
  margin-bottom: 20px; /* Aggiunge spazio tra le righe */
}

div.langs p {
  text-indent: 0;
  padding-right: 0;
  margin-top: 8px;
}

/* h6 per i titoli delle lingue nei box */
h6 {
  border-radius: 6px;
  border: 2px solid;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-top: 3px;
  padding-top: 3px;
  margin-bottom: 12px;
  padding-bottom: 3px;
}

@media screen and (max-width: 950px) {
  .langs {
    width: 90%;
    max-width: 90%;
  }
}

/* unvisited and visited links */
a:link, a:visited {
  color: rgb(204, 82, 0);
  text-decoration: none;
}

/* mouse over and selected links */
a:hover:not(:has(> img)), a:active:not(:has(> img)) {
  color: rgb(0, 153, 204);
  background-color: rgba(179, 236, 255, 0.5);
  border-radius: 4px;
}

img {
  border-radius: 4px;
}

footer {
  margin-bottom: 1%;
  border-style: solid none none none;
  border-color: rgb(102, 0, 0);
  background-image: linear-gradient(to bottom, rgba(255, 240, 179, 0.7), rgba(251, 235, 230, 0.4));
  font-family: "Comfortaa", sans-serif;
  font-weight: 350;
  font-size: 16px;
}

/* menu */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(204, 82, 0, 0.9);
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 240, 179, 0.9);
  margin: 14px 14px 14px 100px;
}

.fixed p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 6px;
  text-indent: 0;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  line-height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 240, 179, 0.9);
  border: 1px solid rgba(204, 82, 0, 0.9);
  /* min-width: 240px; */
  width: max(40%, 250px);
  bottom: 110%;
  right: 0%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  border-radius: 17px 45px 5px 45px;
  z-index: 1;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
  font-weight: 350;
  font-size: 16px;
  /* Permette lo scrolling se il menu è troppo alto */
  max-height: 70vh;  /* Il menu non supererà il 70% dello schermo */
  overflow-y: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the menu */
.dropdown-content a {
  color: rgb(102, 0, 0);
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(204, 82, 0, 0.9);
  color: rgb(251, 235, 230);
  font-weight: bold;
}
