/* CSS file used to style the pages about Skyrdagor.
Color palette: red/orange. */

:root {
    --color-bg: 255, 222, 214;
    --color-txt: 44, 20, 10;
    --color-glosstrans: 145, 50, 40;
    --color-headers: 170, 35, 25;
    --color-thickbdr: 215, 75, 60;
    --color-gradstart: 255, 120, 110;
    --color-gradend: 255, 222, 214;
    --color-shadow: 135, 65, 50;
    --color-fnotes-menu-bdr: 220, 65, 50;
    --color-fnotes-menu-fill: 255, 165, 150;
    --color-menuicon: 170, 35, 25;
    --color-listmarker: 200, 105, 95;
    --color-links: 225, 60, 45;
    --color-linkhover: 255, 255, 255;
    --color-linkhover-bg: 190, 50, 35;
    --color-dropdown-links: 115, 30, 20;
    --color-dropdown-linkhover: 255, 235, 230;
    --color-dropdown-linkhover-bg: 200, 55, 40;
    --color-nav-hover-border: 195, 45, 35;
    --color-nav-hover-shadow: 240, 130, 115;
    --color-thbg: 255, 135, 120;
    --color-tableodd: 255, 205, 195;
}
