/* CSS file used to style the pages about Skyrdagor.
Color palette: red/orange. */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
  font-family: Junicode;
  src: url(/conlangs/asset/JunicodeVF-Roman.woff2);
}

@font-face {
  font-family: JunicodeItalic;
  src: url(/conlangs/asset/JunicodeVF-Italic.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgba(255, 214, 204, 0.8);
    line-height: 1.4;
    font-family: "Junicode", serif;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: rgb(128, 0, 0);
    letter-spacing: 2px;
    word-spacing: 5.5px;
    font-size: 40px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 800;
    font-style: normal;
}

/* h5 is used only for subtitles */
h5 {
    text-align: center;
    color: rgb(128, 0, 0);
    font-family: "JunicodeItalic", serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 1%;
    margin-bottom: 2%;
}

hr {color: rgb(89, 0, 179);}

/* sections */

h2 {
    font-size: 28px;
    color: rgb(128, 0, 0);
    margin-left: 4px;
    word-spacing: 2.5px;
    letter-spacing: 1px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 24px;
    color: rgb(128, 0, 0);
    margin-left: 4px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4 {
    font-size: 20px;
    color: rgb(128, 0, 0);
    margin-left: 4px;
    margin-bottom: 14px;
    letter-spacing: 1px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 550;
    font-style: normal;
}

caption {
    font-size: 20px;
    color: rgb(128, 0, 0);
    margin-left: 4px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 13pt;
}

blockquote {
    border-style: none none none solid;
    border-color: rgb(153, 102, 255);
    padding: 9px 30px 9px 18px;
    margin-left: 30px;
    /* background-color: rgba(229, 204, 255, 0.7); */
    background-image: linear-gradient(to right, rgba(230, 138, 0, 0.5), rgba(255, 214, 204, 0.4));
}

/* general text */

p {
    text-align: justify;
    padding-right: 1%;
    text-indent: 12px;
    margin-left: 4px;
}

/* IPA */
span {
  font-size: 16px;
}

.ipa {
      font-family: sans-serif;
}

/* lists */
ul {
  border-left: solid rgb(179, 0, 0);
  margin-left: 30px;
  background-image: linear-gradient(to right, rgba(230, 138, 0, 0.5), rgba(2255, 214, 204, 0.4));
  list-style-type: none;
  padding: 9px 30px 9px 18px;
  line-height: 1.6;
}
ul.nest {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}
ul.in-text {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 2%;
}
ul.in-text li {
    border-left: solid rgb(179, 0, 0);
    list-style-type: none;
    padding: 0px 30px 0px 18px;
    margin-bottom: 8px;
}

/* numbered lists */
ol {
  line-height: 1.6;
  margin-left: -10px;
}
::marker {
  color: rgb(175, 106, 175);
  font-size: 18px;
  font-style: italic;
}
ol li {
    border-left: solid rgb(179, 0, 0);
    padding: 1px 30px 1px 18px;
    margin-bottom: 8px;
    background-image: linear-gradient(to right, rgba(230, 138, 0, 0.5), rgba(255, 214, 204, 0.4));
}
ol.nest {
    border-left: none;
    background-image: none;
    list-style-type: none;
    padding: 0;
    margin-left: 6px;
}
ol.nest li {
    border-left: none;
    background-image: none;
    margin-top: 2px;
    margin-bottom: 4px;
}

/* unvisited and visited links */
a:link, a:visited {
  color: rgb(230, 57, 0);
  text-decoration: none;
}

/* mouse over and selected links */
a:hover:not(:has(> img)), a:active:not(:has(> img)) {
  color: rgb(41, 163, 41);
  background-color: rgba(77, 255, 136, 0.7);
  border-radius: 4px;
}

img {
  border-radius: 4px;
}

/* all tables */
table {
  line-height: 1.8;
  border-collapse: collapse;
}

tr:nth-child(odd) {background-color: #ffdd99;}

th {
    background-color: #ff9933;
    padding: 5px 8px 5px 8px;
    border: 1px solid #cc0000;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ff9933;
}

/* inline tables */
div.inlinetable {
  margin-left: 2%;
  margin-top: 14px;
  margin-bottom: 14px;
}

/* introduction tables */
div.info-introduction {
  float: right;
  margin: 0 0 20px 20px;
}

/* footer */
footer {
  margin-bottom: 1%;
  border-style: solid none none none;
  border-color: rgb(179, 0, 0);
  background-image: linear-gradient(to bottom, rgba(230, 138, 0, 1), rgba(255, 214, 204, 0.8));
  font-family: "Comfortaa", sans-serif;
  font-weight: 350;
  font-size: 16px;
}

/* menu */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 3px solid rgba(179, 0, 0, 0.9);
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 179, 102, 0.9);
  margin: 14px 14px 14px 100px;
}

.fixed p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 6px;
  text-indent: 0;
  text-align: center;
  font-family: "Comfortaa", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 179, 102, 0.9);
  border: 1px solid rgba(179, 0, 0, 0.9);
  /* min-width: 240px; */
  width: max(40%, 250px);
  bottom: 110%;
  right: 0%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  border-radius: 17px 45px 5px 45px;
  z-index: 1;
  overflow: hidden;
  font-family: "Comfortaa", sans-serif;
  font-weight: 350;
  font-size: 16px;
  /* Permette lo scrolling se il menu è troppo alto */
  max-height: 70vh;  /* Il menu non supererà il 70% dello schermo */
  overflow-y: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the menu */
.dropdown-content a {
  color: rgb(128, 0, 0);
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(230, 0, 0, 0.9);
  color: rgb(255, 255, 153);
  font-weight: bold;
}

/* Section navigation */
.navsection {
  text-align: center;
  margin: auto;
  font-family: "Comfortaa", sans-serif;
  display: block;
}

.navsection a {
  border: 1px solid rgba(179, 0, 0, 0.9);
  background-color: rgba(255, 179, 102, 0.3);
  padding: 8px 12px;
  margin-right: 16px;
  margin-bottom: 12px;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
}

.navsection a:hover {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgba(230, 0, 0, 0.9);
  color: rgb(255, 255, 153);
  padding: 8px 12px;
  margin-right: 16px;
  margin-bottom: 12px;
  border-radius: 16px;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 3px 6px rgb(204, 51, 0);
}

/* Backwards navigation */
.backwardsnav {
  float: right;
  margin-top: 18px;
  margin-right: 30px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
}

.backwardsnav a {
  border: 1px solid rgba(179, 0, 0, 0.9);
  background-color: rgba(255, 179, 102, 0.3);
  padding: 5px 5px;
  margin-left: 16px;
  border-radius: 14px;
  overflow: hidden;
}

.backwardsnav a:hover {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgba(230, 0, 0, 0.9);
  color: rgb(255, 255, 153);
  padding: 5px 5px;
  margin-left: 16px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgb(204, 51, 0);
}

.container {
  display: flex;
  justify-content: space-between; /* Spinge gli elementi agli estremi */
  align-items: center;
  width: 100%; /* Assicura che occupi tutta la larghezza disponibile */
  height: auto; /* Assicura che non ci sia altezza fissa */
}

@media (max-width: 768px) {  /* Regole valide solo su mobile */
  .container {
    flex-direction: column; /* Dispone gli elementi uno sotto l'altro */
    align-items: flex-start; /* Mantiene il titolo allineato a sinistra */
    text-align: left;
  }

  .backwardsnav {
    display: flex;
    flex-direction: column; /* Mette i link uno sotto l'altro */
    align-items: flex-end;  /* Allinea a destra */
    width: 100%; /* Assicura che il menu non si restringa */
    margin-top: 10px; /* Aggiunge spazio tra il titolo e il menu */
    margin-right: 10px; /* Riduce il margine per adattarsi */
  }

  .backwardsnav a {
    margin-left: 0; /* Rimuove il margine sinistro */
    margin-top: 5px; /* Distanza tra i link */
    padding: 8px 10px; /* Un po' più di padding per leggibilità */
    width: auto; /* Impedisce che i bottoni si comprimano */
  }
}


/* colori */
.colors {
  display: flex;
  flex-wrap: wrap; /* Per far andare a capo gli elementi se necessario */
  gap: 10px; /* Distanza tra gli elementi */
  justify-content: center; /* Centra gli elementi orizzontalmente */
}

.color-item {
  display: flex;
  align-items: center; /* Allinea verticalmente */
  margin-left: 10px;
}
