/* CSS file used to style the pages about Skyrdagor.
Color palette: red/orange. */

:root {
    --color-bg: 255, 214, 204;
    --color-txt: 0, 0, 0;
    --color-glosstrans: 0, 0, 0;
    --color-headers: 128, 0, 0;
    --color-thickbdr: 179, 0, 0;
    --color-gradstart: 230, 138, 0;
    --color-gradend: 255, 214, 204;
    --color-shadow: 158, 74, 46;
    --color-fnotes-menu-bdr: 179, 0, 0;
    --color-fnotes-menu-fill: 255, 214, 204;
    --color-menuicon: 128, 0, 0;
    --color-listmarker: 175, 106, 175;
    --color-links: 230, 57, 0;
    --color-linkhover: 41, 163, 41;
    --color-linkhover-bg: 77, 255, 136;
    --color-dropdown-links: 128, 0, 0;
    --color-dropdown-linkhover: 255, 255, 153;
    --color-dropdown-linkhover-bg: 230, 0, 0;
    --color-nav-hover-border: 128, 0, 0;
    --color-nav-hover-shadow: 204, 51, 0;
    --color-thbg: 255, 80, 80;
    --color-tableodd: 255, 173, 153;
}
